<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script
      src="https://kit.fontawesome.com/d3ab361afb.js"
      crossorigin="anonymous"
    ></script>
    <script src="/javascript/changeColorOnScroll.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <nav class="nav flex">
        <img class="nav__logo logo" src="/images/logo--white.png" alt="zebra" />
        <i class="fas fa-ellipsis-v nav__menu-icon"></i>
      </nav>
      <div class="hero">
        <div class="hero__content">
          <h2 class="hero__title">Fall in love. One day at a time.</h2>
          <h3 class="hero__subtitle">Porsche Drive - Rental</h3>
        </div>
        <div class="hero__icon">
          <i class="fas fa-chevron-down"></i>
        </div>
      </div>
    </header>
    <main>
      <section class="about">
        
        <div>
          <p>
            Make your next big date a night to remember with a joyride in an
            iconic 911, or take a family road trip in style with the Macan.
          </p>
          <p>
            Nowyou can rent the Porsche vehicle of your choice by the day with no
            long-term commitment, convenient drop-off and secondary insurance
            fully included.
          </p>
          <p>
            No matter the occasion, we’ve got you covered. Your rental may be
            temporary, but the thrill of the drive will stay with you.
          </p>
        </div>
      </section>
      <section>rent a car</section>
      <section>available cars</section>
      <section>How to drive a car</section>
      <section>Know before you drive</section>
      <section>locations</section>
    </main>
    <footer>
      <p class="copy">copy</p>
      <a href="#"><img src="" alt="" class="logo--white" /></a>
    </footer>
  </body>
</html>
