@import url('https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,700;1,300;1,700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  /* outline: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

/* Utilities */

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar */

.nav {
  padding: 50px;
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 99;
}

.nav__menu-icon {
  font-size: 72px;
  color: #000;
}

/* Hero */

.hero {
  background: url('/images/porsche1.webp')
    no-repeat 30% center scroll;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: relative;
  top: -172px;
  z-index: -1;
  padding: 5%;
}

.hero__content,
.hero__icon {
  position: relative;
  top: 30%;
  color: #fff;
}

.hero__title {
  font-size: 120px;
  font-weight: 700;
  text-shadow: 0 0 10px #000;
}

.hero__subtitle {
  margin-top: 20px;
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-style: italic;
}

.hero__icon {
  top: 60%;
  text-align: center;
  font-size: 1.5rem;
}

.hero__icon i {
  font-size: 1.5rem;
}

/* About */

.about {
  padding: 5%;
}

.about p {
  font-size: 0.3rem;
  font-weight: 300;
  margin-bottom: 20px;
}
